<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saved Books</title>
    <style>
      .saved_list_table {
        padding: 5px;
        margin: 5px;
        border-radius: 8px;
        border: 1px lightgrey solid;
      }
    </style>
  </head>
  <body>
    <h1>
      Your Saved Books (<span data-th-text="${saved_list.size()}"></span>)
    </h1>
    <h2>Category: <span data-th-text="${best_seller_category}"></span></h2>
    <h2>Username: <span data-th-text="${username}"></span></h2>

    <form method="GET" action="/booksearch" target="_blank">
      <input
        id="primary_isbn13"
        type="text"
        name="primary_isbn13"
        size="30"
        placeholder="Please enter Book ISBN"
      />
      <button type="submit">Search Book</button>
    </form>

    <form method="GET" action="/logout">
      <button type="submit">Logout</button>
    </form>

    <form method="GET" action="/best_sellers">
      <button type="submit">Back to Best Seller list</button>
      <input
        type="hidden"
        name="best_seller_category"
        value="hardcover-fiction"
      />
    </form>

    <form method="POST" action="/saved_books">
      <div>
        <button type="submit">Save</button>
      </div>
      <br />
      <div data-th-each="books :${saved_list}" class="saved_list_table">
        <table>
          <tr>
            <td style="width: 30%">
              <img data-th-src="@{${books.book_image}}" alt="" />
            </td>
            <td>
              <p>Rank: <strong data-th-text="${books.rank}"></strong></p>
              <a data-th-href="${books.amazon_product_url}" target="_blank">
                <h3 data-th-text="${books.title}"></h3>
              </a>

              <p>Author: <i data-th-text="${books.author}"></i></p>

              <p>Publisher: <i data-th-text="${books.publisher}"></i></p>

              <p>ISBN: <code data-th-text="${books.primary_isbn13}"></code></p>

              <p>
                Description:<br /><strong
                  data-th-text="${books.description}"
                ></strong>
              </p>

              <a data-th-href="${books.amazon_product_url}" target="_blank">
                <p>Click here to buy</p>
              </a>

              <p>
                Save:
                <input
                  type="checkbox"
                  name="primary_isbn13"
                  data-th-value="${books.primary_isbn13}"
                />
              </p>
              <input type="hidden" name="primary_isbn13" value="" />
            </td>
          </tr>
        </table>
      </div>
    </form>
  </body>
</html>
